<a href="https://colab.research.google.com/github/levyashvin/exploratory-data-analysis/blob/main/males_dataset_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

22BDS0177 Yuva Yashvin

Analysis of Males.csv file using python

Loading dataset into python

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Males.csv')
print(df)

      rownames     nr  year  school  exper union   ethn maried health  \
0            1     13  1980      14      1    no  other     no     no
1            2     13  1981      14      2   yes  other     no     no
2            3     13  1982      14      3    no  other     no     no
3            4     13  1983      14      4    no  other     no     no
4            5     13  1984      14      5    no  other     no     no
...        ...    ...   ...     ...    ...   ...    ...    ...    ...
4355      4356  12548  1983       9      8    no  other    yes     no
4356      4357  12548  1984       9      9   yes  other    yes     no
4357      4358  12548  1985       9     10    no  other    yes     no
4358      4359  12548  1986       9     11   yes  other    yes     no
4359      4360  12548  1987       9     12   yes  other    yes     no

          wage                          industry  \
0     1.197540       Business_and_Repair_Service
1     1.853060                  Personal_Service
2     1.344462       Business_and_Repair_Service
3     1.433213       Business_and_Repair_Service
4     1.568125                  Personal_Service
...        ...                               ...
4355  1.591879                      Construction
4356  1.212543                      Construction
4357  1.765962                      Construction
4358  1.745894  Professional_and_Related Service
4359  1.466543             Public_Administration

                          occupation   residence
0                    Service_Workers  north_east
1                    Service_Workers  north_east
2                    Service_Workers  north_east
3                    Service_Workers  north_east
4     Craftsmen, Foremen_and_kindred  north_east
...                              ...         ...
4355  Craftsmen, Foremen_and_kindred         NaN
4356  Craftsmen, Foremen_and_kindred         NaN
4357  Craftsmen, Foremen_and_kindred         NaN
4358  Craftsmen, Foremen_and_kindred         NaN
4359  Craftsmen, Foremen_and_kindred         NaN

[4360 rows x 13 columns]

Summary and dimensions analysis